urls_downloaded_cb({"token": "Control", "urls": [{"url": "gtkapplication-h.html#page-description", "context": {"gi-language": ["default"]}}, {"url": "gtkcellrendereraccel-h.html#page-description", "context": {"gi-language": ["default"]}}, {"url": "gtkimcontext-h.html#page-description", "context": {"gi-language": ["default"]}}, {"url": "gtkbindings-h.html#page-description", "context": {"gi-language": ["default"]}}, {"url": "running.html#page-description", "context": {"gi-language": ["default"]}}, {"url": "gtkaccelgroup-h.html#gtk_accelerator_set_default_mod_mask", "context": {"gi-language": ["c", "javascript", "python"]}}]});