urls_downloaded_cb({"token": "namespace", "urls": [{"url": "gtkbuilder-h.html#gtk_builder_add_callback_symbol", "context": {"gi-language": ["c", "javascript", "python"]}}, {"url": "gtkpopover-h.html#gtk_popover_bind_model", "context": {"gi-language": ["c", "javascript", "python"]}}, {"url": "gtkmenushell-h.html#gtk_menu_shell_bind_model", "context": {"gi-language": ["c", "javascript", "python"]}}, {"url": "gtkclipboard-h.html#gtk_clipboard_get_for_display", "context": {"gi-language": ["c", "javascript", "python"]}}]});