urls_downloaded_cb({"token": "namespace", "urls": [{"url": "gtkbuilder.html#gtk_builder_add_callback_symbol", "context": {"gi-language": ["c", "javascript", "python"]}}, {"url": "gtkpopover.html#gtk_popover_bind_model", "context": {"gi-language": ["c", "javascript", "python"]}}, {"url": "gtkmenushell.html#gtk_menu_shell_bind_model", "context": {"gi-language": ["c", "javascript", "python"]}}, {"url": "gtkclipboard.html#gtk_clipboard_get_for_display", "context": {"gi-language": ["c", "javascript", "python"]}}]});